# Dependencies
/node_modules
/blood-donation-backend/node_modules
/blood-donation-frontend/node_modules

# Environment variables

# Build artifacts
/build
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
