body {
  background: #fafafa;
  font-family: 'Segoe UI', sans-serif;
}
.container {
  max-width: 540px;
  margin: 40px auto;
  background: #fff;
  padding: 48px 36px;
  border-radius: 16px;
  box-shadow: 0 2px 18px rgba(220,24,24,.12);
}
h1 {
  color: #d32f2f;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  color: #b71c1c;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.form-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #fff;
  padding: 32px 18px 22px;
  border-radius: 14px;
  box-shadow: 0 0px 8px rgba(183,28,28,.06);
}
input, select {
  height: 36px;
  font-size: 1rem;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #bbb;
  outline: none;
  margin-bottom: 0px;
}
input::placeholder {
  color: #bbb;
}
button {
  height: 40px;
  background: #d32f2f;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
  transition: background-color .2s;
}
button:hover {
  background: #b71c1c;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 16px;
}
li {
  margin-bottom: 14px;
  background: #fff;
  padding: 10px 18px;
  border-radius: 7px;
  border-left: 5px solid #d32f2f;
  box-shadow: 0 0 3px #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
